.banner {
    width: 100%;

}

.insta {
    width: 1.5em;
}

.twitter {
    width: 1.5em;



}

.youtube {
    width: 1.5em;

}

.social {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



h2 {
    color: darkgoldenrod;
    font-family: avenir;
    font-size: 1em;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-top: 2em;
    margin-bottom: 0;
}


h1 {
    font-family: Playfair Display;
    font-weight: normal;
    font-size: 3.2em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.5emem;
    margin-right: 0.5em;


}


h3 {
    color: darkgray;
    font-family: serif;
    font-size: 1.2em;
    text-align: center;
    font-weight: 100;
    font-style: italic;
    margin-top: 1em;
    ;
}

.leesverder {
    color: darkgoldenrod;
    font-family: avenir;
    font-size: 1.0em;
    text-align: left;
    margin-top: 3em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    margin-bottom: 0;
}

.button {
    color: darkgoldenrod;
    font-family: avenir;
    font-size: 0.8em;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-top: 2em;
    margin-bottom: 0;
    background-color: white;
    border-color: darkgoldenrod;
    border-width: 0.1em;
    width: 12em;
    height: 3em;
    margin-bottom: 5em;
    position: relative;
    left: 13em;
    right: 10em;

}

p {
    font-family: avenir;
    font-size: 1.0em;
    text-align: left;
    margin-top: 2em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    margin-bottom: 0;


}

img.bhg12 {
    width: 85%;
    margin-left: 2.5em;
    margin-right: 2.5em;

}














bhg12
