header {
    border-bottom: solid 2px grey;
}

main {
    padding-left: 5%;
    padding-right: 5%;
}

article {
    border-bottom: solid 2px grey;
}

.banner {
    width: 100%;

}


.insta {
    width: 1.5em;
}

.twitter {
    width: 1.5em;
}

.youtube {
    width: 1.5em;

}


.social {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hamburger,
.kruisje {
    cursor: pointer;
}

.kruisje {
    width: 50px;
    margin-left: 90%;
}


.menu {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    height: 100%;
    width: 50%;
    z-index: 1;
    transform: translateX(-100%);
}

.menuslide {
    animation: menuslide 1s forwards;
}

@keyframes menuslide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.menuslideback {
    animation: menuslideback 1s forwards;

}

@keyframes menuslideback {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

ul li {
    list-style-type: none;
    text-decoration: none;
    font-family: avenir;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 0.75em;
    text-align: left;
    margin-top: 2em;
    margin-left: em;
    margin-right: 1em;
    margin-bottom: 0;
    border-bottom: dotted 0.5px grey;


}

ul li a {
    color: dimgray;
}


ul li a:hover {
    color: darkgoldenrod;
}

.current {
    color: darkgoldenrod;
}


.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;


}


h1 {
    color: darkgoldenrod;
    font-family: avenir;
    font-size: 1em;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-top: 2em;
    margin-bottom: 0;
}


h2 {
    font-family: Playfair Display;
    font-weight: normal;
    font-size: 3.2em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.5emem;
    margin-right: 0.5em;


}


h3 {
    color: darkgray;
    font-family: serif;
    font-size: 1.2em;
    text-align: center;
    font-weight: 100;
    font-style: italic;
    margin-top: 1em;
    ;
}


a {
    text-decoration: none;
    color: darkgoldenrod;
}

.button {
    color: darkgoldenrod;
    font-family: avenir;
    font-size: 0.8em;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-top: 2em;
    margin-bottom: 0;
    background-color: white;
    border-color: darkgoldenrod;
    border-width: 0.1em;
    width: 12em;
    height: 3em;
    margin-bottom: 5em;
    position: relative;
    left: 35%;
    right: 35%;

}

p {
    font-family: avenir;
    font-size: 1.0em;
    text-align: left;
    margin-top: 2em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    margin-bottom: 0;


}

img.bhg12 {
    width: 85%;
    max-width: 85%;
    margin-left: 2.5em;
    margin-right: 2.5em;

}

.imgabout {
    width: 15em;
    height: 18em;
    margin-left: 2.5em;
    margin-top: 1.5em;

}

@media (min-width: 840px) {
    main {
        display: grid;
        grid-template-columns: 60% 40%;
    }

    .fixed {
        position: fixed;
        top: 0;
        right: 0;
        width: 40%;
        height: 100%;
        overflow: auto;
        overflow-y: scroll;
    }

    p {
        padding-right: 15px
    }
}
